@model ViajesColombiaMVC.Models.FormaPago

@{
    ViewData["Title"] = "Eliminar Forma de Pago";
}

<h2>¿Eliminar esta forma de pago?</h2>

<div class="alert alert-danger">
    ¿Está seguro de que desea eliminar <strong>@Model.Nombre</strong>?
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />

    <button class="btn btn-danger">Eliminar</button>
    <a href="/FormasPago" class="btn btn-secondary">Cancelar</a>
</form>
